;; Analyzed by ClojureScript 1.7.170
{:name slekt.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros {r reagent.core, reagent.core reagent.core}, :uses nil, :requires {slekt.db-functions slekt.db-functions, reagent.core reagent.core, date slekt.date, r reagent.core, slekt.date slekt.date, gui slekt.gui, slekt.database slekt.database, d slekt.database, f slekt.db-functions, slekt.gui slekt.gui}, :imports nil, :defs {render-app {:protocol-inline nil, :meta {:file "E:\\kode\\slektsdatabase\\src\\slekt\\core.cljs", :line 10, :column 7, :end-line 10, :end-column 17, :arglists (quote ([]))}, :name slekt.core/render-app, :variadic false, :file "src\\slekt\\core.cljs", :end-column 17, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 10, :end-line 10, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}